
/* body {
  background-color:tomato;
    color: #424243;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.612;
    -webkit-font-smoothing: antialiased;
    // font-family: 'Lora', serif;
    color:tomato;
    display: block;
    margin: 0 auto;
}

 .logo  {

    height: 120px;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% !important;
    text-align: center;
    text-indent: -9999px;
}
.site-title {
    background:url(https://www.theclassysimplelife.com/wp-content/uploads/2016/08/cropped-CSL-Logo-Black-1200-240.png);

    background-repeat: no-repeat;
}
.site-title {
    margin: 0px;
    overflow: hidden;
    text-align: center;
    line-height: 60px;
} */
