
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
  background-color:steel grey;
  color: #424243;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.612;
  -webkit-font-smoothing: antialiased;
  // font-family: 'Lora', serif;
  color:tomato;
  display: block;
  margin: 0 auto;
}

header {
  display:block;
  padding: 40px 0 10px;
}
h1 {
  display:block;
}

.logo .site-title  {

  height: 180px;
  width: 100%;
  margin: 0 auto;
  padding:40px;
  // background-repeat: no-repeat;
  background-position:left;
  background-size: 100% ;
  text-align: center;
  text-indent: -9999px;

}
.site-title {

  background-image:url(https://www.theclassysimplelife.com/wp-content/uploads/2016/08/cropped-CSL-Logo-Black-1200-240.png);

  background-repeat: no-repeat!important;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  line-height: 60px;

}

.hero {
  display: flex;
  justify-content:center;
  margin:0 auto;
  padding: 10px;

  // line-height:50%;
}

.thirty {
  width: 33%;
  display:flex;
  // flex-direction:row;

  justify-content:space-between;

}


.box{
  float:right;
}
.container {
  margin:0 auto;
  text-align: justify;


}


.links {
  display:flex;
  flex-direction: column;
  align-items:flex-start;

  justify-content: center;
}
